---
import DownloadButton from "../buttons/DownloadButton.astro";

interface JournalArticle {
  author: string;
  year: string;
  title: string;
  journal: string;
  url: string;
  pdf?: string;
}

const { author, year, title, journal, url, pdf } =
  Astro.props as JournalArticle;
---

<div class="my-2">
  <p class="text-chetwode-950 dark:text-chetwode-50">
    {
      author
        .split("Handika, H.")
        .map((part: string, index: number, array: string[]) => (
          <>
            {part}
            {index < array.length - 1 && (
              <strong class="text-chetwode-700 dark:text-chetwode-400">
                Handika, H.
              </strong>
            )}
          </>
        ))
    }. {year}. {title}. <em>{journal}</em>.
  </p>
  <dir class="flex space-x-2 mt-2 -ml-10 mb-4">
    <DownloadButton text="View Preprint" url={url} />
    {
      pdf && (
        <DownloadButton
          text="Download PDF"
          url={pdf}
          isDownload="true"
          extendClass="btn-active"
        />
      )
    }
  </dir>
</div>
