---
import WrapButton from "../../layouts/WrapButton.astro";
import DownloadButton from "../buttons/DownloadButton.astro";
import SendMessageButton from "../buttons/SendMessageButton.astro";

interface JournalArticle {
  id: string;
  author: string;
  year: string;
  title: string;
  journal: string;
  pageVol: string;
  doi: string;
  pdfUrl?: string;
  isRequest: boolean;
}

const { id, author, year, title, journal, pageVol, doi, pdfUrl, isRequest } =
  Astro.props as JournalArticle;
---

<div class=`my-2 ${id}`>
  <p class="text-chetwode-950 dark:text-chetwode-50">
    {
      author
        .split("Handika, H.")
        .map((part: string, index: number, array: string[]) => (
          <>
            {part}
            {index < array.length - 1 && (
              <strong class="text-chetwode-700 dark:text-chetwode-400">
                Handika, H.
              </strong>
            )}
          </>
        ))
    }. {year}. {title}. <em>{journal}</em>, {pageVol}. {doi}
  </p>
  <WrapButton>
    <DownloadButton text="View Article" url={doi} />
    {
      pdfUrl && isRequest ? (
        <SendMessageButton
          text="Request PDF"
          url={pdfUrl}
          extendClass="btn-active"
        />
      ) : (
        pdfUrl && (
          <DownloadButton
            text="Download PDF"
            url={pdfUrl}
            isDownload="true"
            extendClass="btn-active"
          />
        )
      )
    }
  </WrapButton>
</div>
