---
import Layout from "../layouts/Layout.astro";
import profilePhoto from "../assets/img/profile.jpg";
import github from "../assets/icons/github.svg";
import gScholar from "../assets/icons/scholar.svg";
import insta from "../assets/icons/instagram.svg";
import Stats from "../components/Stats.astro";
import rodentSvg from "../assets/icons/mammals.svg";
import Background from "../components/Background.astro";
import cntl from "cntl";
import MainPage from "../components/MainPage.astro";

const titleClasses = cntl`
  font-serif
  text-5xl
  text-chetwode-950
  dark:text-chetwode-50
  py-4
`;

const heroTextClasses = cntl`
  mt-2
  text-pretty
  text-lg
  font-medium
  text-slate-600
  dark:text-slate-300
  sm:text-xl/8
`;

const statsGridClasses = cntl`
  grid
  bg-gradient-to-r
  from-porsche-400
  to-chetwode-200
  dark:from-porsche-700
  dark:to-chetwode-600
  lg:grid-cols-3
  gap-4
  text-center
  rounded-2xl
  lg:rounded-full
  mt-24
  mx-8
  lg:mx-32
`;
---

<Layout title="Island small mammals and inclusive biodiversity software">
  <MainPage>
    <Background backgroundImage={rodentSvg} />
    <div class="text-center item-center">
      <img
        class="block mx-auto h-32 lg:h-48 rounded-full sm:mx-auto"
        src={profilePhoto.src}
        alt="Handika's profile photo"
      />
      <h1 class={titleClasses}>
        Hi, I'm <strong>Heru Handika</strong>
      </h1>
      <p class={heroTextClasses}>
        I study small mammal diversity and speciation on islands and develop
        software to improve data integration and management, promote
        collaboration, and increase the accessibility of biodiversity research
      </p>
    </div>
    <div
      class="flex
            justify-center
            mt-4
            space-x-4"
    >
      <a href="https://github.com/hhandika" target="_blank" rel="noopener">
        <img src={github.src} alt="GitHub logo" class="w-8" />
      </a>
      <a
        href="https://scholar.google.com/citations?user=Jaub_M0AAAAJ&hl=en"
        target="_blank"
        rel="noopener"
        ><img src={gScholar.src} alt="Google Scholar logo" class="w-8" /></a
      >
      <a
        href="https://www.instagram.com/heru_hdka/"
        target="_blank"
        rel="noopener"
        ><img src={insta.src} alt="Instagram logo" class="w-8" /></a
      >
    </div>
    <div class={statsGridClasses}>
      <Stats title="Fieldwork" value="30" unit="localities" url="/fieldwork" />
      <Stats
        title="Specimen contribution"
        value="10k"
        unit="vouchers"
        url="/fieldwork"
      />
      <Stats title="Code written" value="150K" unit="lines" url="/software" />
    </div>
  </MainPage>
</Layout>
