---
import Layout from "../layouts/Layout.astro";
import profilePhoto from "../assets/img/profile.jpg";
import Stats from "../components/Stats.astro";
import rodentSvg from "../assets/icons/mammals.svg";
import Background from "../components/Background.astro";
import cntl from "cntl";
import MainPage from "../components/MainPage.astro";
import PageDescription from "../components/PageDescription.astro";
import Image from "astro/components/Image.astro";
import SocialMediaIcons from "../components/SocialMediaIcons.astro";

const titleClasses = cntl`
  font-serif
  text-5xl
  text-chetwode-950
  dark:text-chetwode-50
  mt-2
`;

const heroTextClasses = cntl`
  mt-4
  text-pretty
  text-lg
  text-slate-700
  dark:text-slate-200
  sm:text-xl/8
`;

const sectionTitleClasses = cntl`
  text-3xl
  text-porsche-950
  dark:text-porsche-50
  mt-16
  mb-8
  text-center
`;

const statsGridClasses = cntl`
  grid
  bg-gradient-to-r
  from-porsche-400
  to-chetwode-200
  dark:from-porsche-700
  dark:to-chetwode-600
  lg:grid-cols-3
  gap-4
  text-center
  rounded-2xl
  lg:rounded-full
  mt-16
  mx-8
  lg:mx-24
`;

const keywordClasses = cntl`
    border-2
    border-chetwode-300
    dark:border-chetwode-400
    text-chetwode-700
    dark:text-chetwode-400
    rounded-full
    py-1
    px-4 
    text-sm 
    m-2
`;

const keywordList = [
  "Biodiversity Informatics",
  "In situ diversification",
  "Artificial Intelligence",
];

const highlightedTextClasses = cntl`
  bg-porsche-100
  dark:bg-porsche-600
  text-porsche-800
  dark:text-porsche-50
  px-2
  pb-1
  inline-block
  -rotate-3
`;

const highlightedTextClasses2 = cntl`
  bg-chetwode-100
  dark:bg-chetwode-600
  text-chetwode-800
  dark:text-chetwode-50
  px-2
  pb-1
  inline-block
  rotate-2
`;
---

<Layout
  title="Island small mammals and efficient, scalable biodiversity software"
>
  <MainPage>
    <Background backgroundImage={rodentSvg} />
    <div class="text-center item-center mt-8 md:mt-16">
      <Image
        class="block mx-auto rounded-full sm:mx-auto"
        src={profilePhoto}
        height={180}
        width={180}
        decoding="async"
        loading="lazy"
        alt="Handika's profile"
      />
      <h1 class={titleClasses}>
        Hi, I'm <strong>Heru Handika</strong>
      </h1>
      <PageDescription>
        Post-Doctoral Associate · the University of Florida, USA
      </PageDescription>
      <div class="mb-8 mt-4">
        {
          keywordList.map((keyword) => (
            <span class={keywordClasses}>{keyword}</span>
          ))
        }
      </div>
      <p class={heroTextClasses}>
        I study island small-mammal diversity and speciation, and build open,
        scalable tools to enhance data integration, curation, and access for
        biodiversity research. My work combines fieldwork in remote montane
        forests, leveraging emerging AI technologies, and developing computer
        programs that scale from mobile devices and personal computers, to
        high-performance computing clusters.
      </p>
    </div>
    <SocialMediaIcons />
    <div class={statsGridClasses}>
      <Stats title="Fieldwork" value="30" unit="expeditions" url="/fieldwork" />
      <Stats
        title="Specimen contribution"
        value="10k"
        unit="vouchers"
        url="/fieldwork"
      />
      <Stats title="Code written" value="130K" unit="lines" url="/software" />
    </div>
    <div>
      <h2 class={sectionTitleClasses}>
        How do islands <span class={highlightedTextClasses}>generate</span> and <span
          class={highlightedTextClasses2}>maintain</span
        > biodiversity?
      </h2>
      <p>It starts with fieldwork</p>
      <div class={sectionTitleClasses}>
        <h2>
          How can we leverage <span class={highlightedTextClasses}
            >emerging AI</span
          > technologies to understand complex biological systems?
        </h2>
      </div>
      <div class={sectionTitleClasses}>
        <h2>
          How can we improve <span class={highlightedTextClasses}>access</span> to
          <span class={highlightedTextClasses2}>cutting-edge</span> biodiversity
          studies?
        </h2>
      </div>
    </div>
  </MainPage>
</Layout>
