---
import Layout from "../layouts/Layout.astro";
import SectionHead from "../components/Section.astro";
import Content from "../components/Content.astro";
import PageTitle from "../components/PageTitle.astro";
import researchIcon from "../assets/icons/research.svg";
import Background from "../components/Background.astro";
import MainPage from "../components/MainPage.astro";
import PageDescription from "../components/PageDescription.astro";
import PubButton from "../components/buttons/PubButton.astro";
import ProjectPubs from "../layouts/ProjectPubs.astro";
import cntl from "cntl";
import Link from "../components/Link.astro";
import Image from "astro/components/Image.astro";
import lenomys from "../assets/img/lenomys-meyeri.jpg";
import nahpu from "../assets/img/nahpu-preview.jpg";
import herbarium from "../assets/img/herbarium.jpg";

const spaceClasses = cntl`
  mr-1
`;

const firstParagraphClasses = cntl`
  first-letter:text-7xl
  first-letter:font-semibold
  first-letter:mr-2
  first-letter:float-left
`;
---

<Layout title="Research Projects">
  <MainPage>
    <Background backgroundImage={researchIcon} />
    <PageTitle title="Research Projects">
      <PageDescription>
        My research integrates fieldwork, natural history collections, genomics,
        and the development of digital tools to address speciation,
        biogeography, and conservation questions. In particular, it centers on
        identifying patterns of small mammal diversity and understanding
        speciation processes within and across islands in the Indo-Australian
        Archipelago. I have also engaged in projects focusing on other taxa and
        in different regions. Most of the tools I develop are taxon-agnostic. My
        collaborative work involves more than a dozen people in some projects. I
        strive to make research using natural history collections and genomic
        data accessible to students and researchers with limited technical
        knowledge and access to computing resources.
      </PageDescription>
    </PageTitle>
    <div class="my-8">
      <SectionHead
        title="Small Mammal Diversity & Speciation"
        subtitle="Understanding patterns that generate species diversity within a complex island system"
      />
      <Content>
        <Image
          src={lenomys}
          alt="Lenomys meyeri"
          width={340}
          class="rounded-xl float-left mr-4 mt-2"
        />
        <p class={firstParagraphClasses}>
          This project studies small mammal diversity and speciation in Sulawesi
          and islands on the Sunda Shelf, Southeast Asia. During the
          Pleistocene, the islands on the Sunda Shelf—such as Sumatra, Java, and
          Borneo— were connected as a continuous landmass. In contrast, Sulawesi
          were formed from separate islands. The isolated mountains on these
          islands promote other opportunities for speciation. We conduct
          extensive fieldwork, perform genomic studies, and describe
          undocumented species as necessary.
        </p>
        <p class="mt-2">
          My dissertation focuses on the in-situ diversification of hill rats
          (the <i>Bunomys</i> species group) in Sulawesi. I aim to improve phylogenetic
          resolution and understand how the island's geological history has shaped
          the group's diversity. Ultimately, I aim to deepen our understanding of
          speciation on a large, isolated island like Sulawesi and aid conservation
          efforts by improving our knowledge of species diversity and endemism.
        </p>
        <div class="mt-4 mb-2 text-semibold">Publications:</div>
        <ProjectPubs author="Handika et. al.">
          <PubButton
            title="A new species of Frateromys from the Northern Peninsula of Sulawesi, Indonesia"
            year="In prep"
            author="Handika, H., Rowe, K.C., Achmadi, A.S., Swanson, M. T., and Esselstyn, J.A"
          />
          <span class={spaceClasses}>,</span>
          <PubButton
            author="Handika, H., Achmadi, A.S., Esselstyn, J.A., and Rowe, K.C"
            year="2021"
            title="Molecular and morphological systematics of the Bunomys division (Rodentia: Muridae), an endemic radiation on Sulawesi"
            doi="https://doi.org/10.1111/zsc.12460"
            pdfUrl="https://www.researchgate.net/publication/346459790_Molecular_and_morphological_systematics_of_the_Bunomys_division_Rodentia_Muridae_an_endemic_radiation_on_Sulawesi?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InB1YmxpY2F0aW9uIiwicGFnZSI6InByb2ZpbGUiLCJwcmV2aW91c1BhZ2UiOiJwcm9maWxlIiwicG9zaXRpb24iOiJwYWdlQ29udGVudCJ9fQ"
            isRequest={true}
          />
        </ProjectPubs>
        <ProjectPubs author="Demos et. al.">
          <PubButton
            author="Demos, T.C., Achmadi, A.S., Handika, H., Rowe, K.C. and Esselstyn, J.A"
            year={2017}
            title="A new species of shrew (Soricomorpha: Crocidura) from Java, Indonesia: possible character displacement despite interspecific gene flow"
            doi="https://doi.org/10.1093/jmammal/gyw183"
            pdfUrl="https://esselstyn.github.io/publications/2017/Demos-2017.pdf"
          />
          <span class={spaceClasses}>,</span>
          <PubButton
            author="Demos, T.C., Achmadi, A.S., Giarla, T.C., Handika, H., Rowe, K.C. and Esselstyn, J.A"
            year={2016}
            title="Local endemism and within‐island diversification of shrews illustrate the importance of speciation in building Sundaland mammal diversity"
            doi="https://doi.org/10.1111/mec.13820"
            pdfUrl="https://esselstyn.github.io/publications/2016/Demos-2016.pdf"
          />
        </ProjectPubs>
        <ProjectPubs author="Esselstyn et. al.">
          <PubButton
            author="Esselstyn, J.A., Achmadi, A.S., Handika, H. , Swanson, M. T., Giarla, T.C. and Rowe, K.C"
            year="2021"
            title="Fourteen new, endemic species of shrew (genus Crocidura) from Sulawesi reveal a spectacular island radiation"
            doi="https://doi.org/10.1206/0003-0090.454.1.1"
            pdfUrl="https://bioone.org/journalArticle/Download?urlId=10.1206%2F0003-0090.454.1.1"
          />
          <span class={spaceClasses}>,</span>
          <PubButton
            author="Esselstyn, J.A., Achmadi, A.S., Handika, H., Giarla, T.C. and Rowe, K.C"
            year="2019"
            title="A new climbing shrew from Sulawesi highlights the tangled taxonomy of an endemic radiation"
            doi="https://doi.org/10.1093/jmammal/gyz077"
            pdfUrl="https://esselstyn.github.io/publications/2019/Esselstyn-2019.pdf"
          />
          <span class={spaceClasses}>,</span>
          <PubButton
            author="Esselstyn, J.A., Achmadi, A.S., Handika, H. and Rowe, K.C"
            year="2015"
            title="A hog-nosed shrew rat (Rodentia: Muridae) from Sulawesi Island, Indonesia"
            doi="https://doi.org/10.1093/jmammal/gyv093"
            pdfUrl="https://esselstyn.github.io/publications/2015/Esselstyn-2015.pdf"
          />
        </ProjectPubs>
        <ProjectPubs author="Giarla et. al.">
          <PubButton
            author="Giarla, T. C., Achmadi, A.S., Fabre, P. H., Handika, H., Chipps, A. S., Swanson, M.T., Nations, J. A., Morni, M. A., William-Dee, J., Inayah, N., Jayanti, E. D., Nurdin, M.R.T.J., Griffin, K. E., Khan, F. A. A., Heaney, L. R., Rowe, K. C., Esselstyn, J. A"
            year="In press"
            title="Systematics and historical biogeography of Crunomys and Maxomys (Muridae: Murinae), with the description of a new species from Sulawesi and new genus-level classification"
            journal="Journal of Mammalogy"
          />
        </ProjectPubs>
        <ProjectPubs author="Nations et. al.">
          <PubButton
            author="Nations, J. A., Handika, H., Mursyid, A., Butsa, R. D., Apandi, Achmadi, A. S. Esselstyn, J. A"
            year={2024}
            title="Three new species of shrew (Soricidae: Crocidura) from West Sumatra, Indonesia: elevational and morphological divergence in syntopic sister taxa"
            doi="https://doi.org/10.1093/jmammal/gyad126"
            pdfUrl="https://www.researchgate.net/publication/377726198_Three_new_shrews_Soricidae_Crocidura_from_West_Sumatra_Indonesia_elevational_and_morphological_divergence_in_syntopic_sister_taxa"
          />
        </ProjectPubs>
      </Content>
      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
      >
        <br class="" />
      </div>
      <SectionHead
        title="Inclusive, Open, and Accessible Software"
        subtitle="Developing digital tools empowering new learners in evolutionary studies"
      />
      <Content>
        <Image
          src={nahpu}
          alt="SEGUL app preview"
          width={200}
          class="rounded-xl float-right ml-4"
        />
        <p class={firstParagraphClasses}>
          My goal for this project is to promote efficient, integrative, and
          inclusive collection-based evolutionary studies through
          high-performance computing and innovative data management and
          data-sharing approaches. Additionally, I aim to facilitate low-cost
          computing practices in genomic studies, which will reduce the
          ecological footprint of evolutionary studies while allowing
          underfunded labs to benefit from the decreasing cost of genomic
          sequencing. I create user-friendly, memory-efficient, cross-platform
          apps to achieve my objectives. The development of the apps leverages
          emerging technologies in software development (e.g., <Link
            text="Rust"
            url="https://www.rust-lang.org/"
          />, <Link text="Flutter" url="https://flutter.dev/" />, and <Link
            text="CI/CD"
            url="https://en.wikipedia.org/wiki/CI/CD"
          />
          ). Furthermore, I take advantage of advancements in CPU technology and heterogenous
          computing to accelerate data processing and minimize reliance on expensive
          and power-hungry High-Performance Computing Clusters.
        </p>
        <p class="mt-2">
          I developed three apps under this project: <Link
            text="NAHPU"
            url="https://nahpu.app"
          />, <Link text="SEGUL" url="https://segul.app" />, and ULLAR. NAHPU is
          a digital field catalog that simplifies data acquisition and
          management for increasingly complex collection-based evolutionary
          studies. The app integrates specimen, tissue, and derivative data,
          such as specimen photographs and audio recordings. It streamlines data
          management from fieldwork to the museum database, eliminating typical
          secondary data entry required for conventional paper-based field
          catalogs. SEGUL is a high-performance, memory-efficient tool for
          genomic studies. It is a proof of concept for a genomic tool that runs
          from mobile devices and personal computers to high-performance
          computing clusters. It enables teaching genomic analyses in
          environments with limited access to computing power. ULLAR is
          currently in the early development stage. I develop the app to
          minimize dependencies and simplify phylogenomic data analyses.
        </p>

        <div class="mt-4 mb-2 text-semibold">Publications:</div>
        <ProjectPubs author="Handika et al.">
          <PubButton
            author="Handika, H., Moncrieff, A. E., Del-Rio G., Canton, R., Rutledge, S. L., Hernández-Canchola, G., Babb-Biernacki, S. J.  Chipps, A. S., Pérez-Amaya, N., Chornelia, A., Morales-Martínez, D. M., McCallum, Q., Thom, G., Esselstyn, J. A"
            year="In prep"
            title="NAHPU: A field cataloging application for efficient, repeatable, and inclusive collection-based evolutionary studies"
          />
        </ProjectPubs>
        <ProjectPubs author="Handika and Esselstyn">
          <PubButton
            author="Handika, H. and Esselstyn, J. A"
            year={2024}
            title="SEGUL: Ultrafast, memory-efficient and mobile-friendly software for manipulating and summarizing phylogenomic datasets"
            doi="https://doi.org/10.1111/1755-0998.13964"
            pdfUrl="https://www.researchgate.net/publication/380125709_SEGUL_Ultrafast_memory-efficient_and_mobile-friendly_software_for_manipulating_and_summarizing_phylogenomic_datasets"
            isRequest={true}
          />
        </ProjectPubs>
      </Content>
    </div>
    <SectionHead
      title="GPU-Agnostic, Low-cost Machine Learning Approaches"
      subtitle="Developing on-devices, cross-platform machine-learning methods to improve biodiversity research"
    />
    <Content>
      Coming soon as a part of my postdoc project at <Link
        text="Porto's lab"
        url="https://agporto.github.io/"
      />, the University of Florida.
    </Content>
    <hr class="my-4 border-t-2 border-chetwode-200 rounded-full" />
    <Image
      src={herbarium}
      alt="Herbarium Universitas Andalas"
      width={220}
      class="rounded-xl float-right ml-4 mt-8"
    />
    <SectionHead
      title="Other Projects"
      subtitle="Projects on other taxa and regions"
    />
    <Content>
      <h3 class="font-semibold">Specimen Digitization</h3>
      <p>
        This project is led by Dr. Nurainas at the Herbarium Universitas Andalas
        (ANDA) funded through the collection and data mobilization grant
        provided by the Global Biodiversity Information Facility (GBIF). We aim
        to digitize >65,000 sheets of the herbarium specimens at ANDA and make
        the data accessible through the GBIF portal.
      </p>
      <div class="mt-4 mb-2 text-semibold">Published datasets:</div>
      <ProjectPubs author="Nurainas et. al.">
        <PubButton
          author="Nurainas N, Amolia R R, Taufiq A, Handika H, Syamsuardi S"
          year="2024a"
          title="Flora of Sumatra : Vascular plant collection from Batang Toru Forest deposited in ANDA Herbarium"
          doi="https://doi.org/10.15468/ue7xyn"
        />
        <span class={spaceClasses}>,</span>
        <PubButton
          author="Nurainas N, Taufiq A, Handika H, Syamsuardi S"
          year="2024b"
          title="lora of Sumatra: Vascular plant collection of selected families deposited at Herbarium of Andalas University (ANDA)"
          doi="https://doi.org/10.15468/sncpxn"
        />
        <span class={spaceClasses}>,</span>
        <PubButton
          author="Nurainas N, Taufiq A, Handika H, Harapan T S, Syamsuardi S"
          year="2024c"
          title="Flora Sumatra: Digitizing and data basing specimens of the Sumatran Flora deposited at Herbarium Universitas Andalas (ANDA)-Part 2"
          doi="https://doi.org/10.15468/55evew "
        />
      </ProjectPubs>
    </Content>
    <Content>
      <h3 class="font-semibold">
        Genomics and Systematics of Antbirds in the Neotropics
      </h3>
      <p>
        I am involved in two projects led by Marky Mutchler (the University of
        Chicago) and Ryan Zucker (Cornell University). Both students are under
        the supervision of <Link
          text="Dr. Glaucia Del-Rio"
          url="https://www.gdel-rio.com/"
        />, the University of Florida. We aim to understand the genomic basis of
        speciation and systematics of antbirds in the Neotropics.
      </p>
    </Content>
  </MainPage>
</Layout>
