---
import Layout from "../layouts/Layout.astro";
import Published from "../components/pubs/Published.astro";
import Publication from "../layouts/Publication.astro";
import Forthcoming from "../components/pubs/Forthcoming.astro";
import cvIcon from "../assets/icons/cv.svg";
import PageTitle from "../components/PageTitle.astro";
import Background from "../components/Background.astro";
---

<Layout title="Curriculum Vitae">
  <main>
    <div class="mx-auto h-full max-w-5xl py-6 sm:py-16 lg:py-8">
      <Background backgroundImage={cvIcon} />
      <PageTitle title="Publications" />
      <Publication year="Forthcoming" />
      <Forthcoming
        authors={[
          "Burgin, C. J.",
          "Zijlstra, J. S.",
          "Becker, M. A.",
          "Handika, H.",
          "Widness, J.",
          "Liphardt, S.",
          "Huckaby, D. G.",
          "Upham, N. S",
        ]}
        year="Accepted"
        title="How many mammal species are there now? Updates and trends in taxonomic, nomenclatural, and geographic knowledge"
        journal="Journal of Mammalogy"
        doi="https://doi.org/10.1101/2025.02.27.640393"
      />
      <Publication year="2025">
        <Published
          authors={[
            "Giarla, T. C.",
            "Achmadi, A.S.",
            "Fabre, P. H.",
            "Handika, H.",
            "Chipps, A. S.",
            "Swanson, M.T.",
            "Nations, J. A.",
            "Morni, M. A.",
            "William-Dee, J.",
            "Inayah, N.",
            "Jayanti, E. D.",
            "Nurdin, M.R.T.J.",
            "Griffin, K. E.",
            "Khan, F. A. A.",
            "Heaney, L. R.",
            "Rowe, K. C.",
            "Esselstyn, J. A",
          ]}
          year={2025}
          title="Systematics and historical biogeography of Crunomys and Maxomys (Muridae: Murinae), with the description of a new species from Sulawesi and new genus-level classification"
          journal="Journal of Mammalogy"
          doi="https://doi.org/10.1093/jmammal/gyaf006"
          pdfUrl="https://www.researchgate.net/publication/392705776_Systematics_and_historical_biogeography_of_Crunomys_and_Maxomys_Muridae_Murinae_with_the_description_of_a_new_species_from_Sulawesi_and_new_genus-level_classification"
          isRequest={true}
        />
        <Published
          authors={[
            "Adams, A.L.",
            "Achmadi, A.S.",
            "Mursyid, A.",
            "Handika, H.",
            "Nurdin, M.R.T.",
            "Esselstyn, J.A.",
            "Perkins, S.L.",
            "Rowe, K.M.",
            "Rowe, K.C",
          ]}
          year={2025}
          title="Wildlife disease surveillance from village to peak: Trypanosome infections of mammals on Sulawesi revealed higher prevalence in intact montane forests"
          journal="THERYA"
          pageVol="16(1), 125-141"
          altUrl="https://mastozoologiamexicana.com/therya/index.php/THERYA/article/view/6154"
          pdfUrl="https://mastozoologiamexicana.com/therya/index.php/THERYA/article/view/6154/1475"
        />
      </Publication>
      <Publication year="2024">
        <Published
          authors={["Handika, H.", "Esselstyn, J. A"]}
          year={2024}
          title="SEGUL: Ultrafast, memory-efficient and mobile-friendly software for manipulating and summarizing phylogenomic datasets"
          journal="Molecular Ecology Resources"
          pageVol="24(7)"
          doi="https://doi.org/10.1111/1755-0998.13964"
          pdfUrl="https://www.researchgate.net/publication/380125709_SEGUL_Ultrafast_memory-efficient_and_mobile-friendly_software_for_manipulating_and_summarizing_phylogenomic_datasets"
          isRequest={true}
        />
        <Published
          authors={[
            "Nations, J.A.",
            "Kohli, B.A.",
            "Handika, H.",
            "Achmadi, A.S.",
            "Polito, M.J.",
            "Rowe, K.C.",
            "Esselstyn, J. A",
          ]}
          year={2024}
          title="The roles of isolation and interspecific interaction in generating the functional diversity of an insular mammal radiation"
          journal="Oikos"
          pageVol="p.e10888"
          doi="https://doi.org/10.1111/oik.10888"
          pdfUrl="https://www.researchgate.net/publication/386408066_The_roles_of_isolation_and_interspecific_interaction_in_generating_the_functional_diversity_of_an_insular_mammal_radiation"
          isRequest={true}
        />
        <Published
          authors={[
            "Nations, J. A.",
            "Handika, H.",
            "Mursyid, A.",
            "Butsa, R. D.",
            "Apandi",
            "Achmadi, A. S.",
            "Esselstyn, J. A",
          ]}
          year={2024}
          title="Three new species of shrew (Soricidae: Crocidura) from West Sumatra, Indonesia: elevational and morphological divergence in syntopic sister taxa"
          journal="Journal of Mammalogy"
          pageVol="105 (2), 372-389"
          doi="https://doi.org/10.1093/jmammal/gyad126"
          pdfUrl="https://www.researchgate.net/publication/377726198_Three_new_shrews_Soricidae_Crocidura_from_West_Sumatra_Indonesia_elevational_and_morphological_divergence_in_syntopic_sister_taxa"
        />
      </Publication>
      <Publication year="2023">
        <Published
          authors={[
            "Mursyid, A.",
            "Achmadi, A.S.",
            "Novarino, W.",
            "Handika, H.",
            "Nugroho, H.A.",
            "Anita, S.",
            "Adams, A.L.",
            "Rowe, K.M.C.",
            "Rowe, K.C",
          ]}
          year={2023}
          title="Trypanosoma (Euglenozoa: Kinetoplastea) infections in rodents, bats, and shrews along an elevation and disturbance gradient in Central Sulawesi, Indonesia"
          journal="Contributions to Mammalogy and Zooarchaeology of Wallacea"
          pageVol="pp.663-671"
          doi="http://dx.doi.org/10.3853/j.2201-4349.75.2023.1786"
          pdfUrl="https://journals.australian.museum/media/dd/documents/1786_complete.62f64af.pdf"
        />
        <Published
          authors={[
            "Achmadi, A. S.",
            "Fahri, F.",
            "Gazzard, A.",
            "Handika, H.",
            "Inayah, N.",
            "Kennerley, R. J.",
            "Lanusi, A. A.",
            "Nangoy, M.",
            "Nurdin, M. R.",
            "Rowe, K. C.",
            "Sheherazade",
          ]}
          year={2023}
          title="Conservation status and priorities for Sulawesi's unique small mammal fauna"
          journal="Journal of Mammalogy"
          pageVol="104 (3), 1-12"
          doi="https://doi.org/10.1093/jmammal/gyad126"
          pdfUrl="https://www.researchgate.net/publication/376432985_Conservation_status_and_priorities_for_Sulawesi's_unique_small_mammal_fauna"
        />
        <Published
          authors={[
            "Swanson, M.T.",
            "Henson, M.W.",
            "Handika, H.",
            "Achmadi, A.S.",
            "Anita, S.",
            "Rowe, K.C.",
            "Esselstyn, J.A",
          ]}
          year={2023}
          title="Mycoplasmataceae dominate microbial community differences between gut regions in mammals with a simple gut architecture"
          journal="Journal of Mammalogy"
          pageVol="104(1), pp.146-158"
          doi="https://doi.org/10.1093/jmammal/gyac098"
          pdfUrl="https://academic.oup.com/jmammal/article/104/1/146/6823667"
        />
      </Publication>
      <Publication year="2021">
        <Published
          authors={[
            "Esselstyn, J.A.",
            "Achmadi, A.S.",
            "Handika, H.",
            "Swanson, M. T.",
            "Giarla, T.C.",
            "Rowe, K.C",
          ]}
          year={2021}
          title="Fourteen new, endemic species of shrew (genus Crocidura) from Sulawesi reveal a spectacular island radiation"
          journal="Bulletin of the American Museum of Natural History"
          pageVol="454(1), pp.1-108"
          doi="https://doi.org/10.1206/0003-0090.454.1.1"
          pdfUrl="https://bioone.org/journalArticle/Download?urlId=10.1206%2F0003-0090.454.1.1"
        />
        <Published
          id="handika2021"
          authors={[
            "Handika, H.",
            "Achmadi, A.S.",
            "Esselstyn, J.A.",
            "Rowe, K.C",
          ]}
          year={2021}
          title="Molecular and morphological systematics of the Bunomys division (Rodentia: Muridae), an endemic radiation on Sulawesi"
          journal="Zoologica Scripta"
          pageVol="50(2), pp. 141–154"
          doi="https://doi.org/10.1111/zsc.12460"
          pdfUrl="https://www.researchgate.net/publication/346459790_Molecular_and_morphological_systematics_of_the_Bunomys_division_Rodentia_Muridae_an_endemic_radiation_on_Sulawesi?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InB1YmxpY2F0aW9uIiwicGFnZSI6InByb2ZpbGUiLCJwcmV2aW91c1BhZ2UiOiJwcm9maWxlIiwicG9zaXRpb24iOiJwYWdlQ29udGVudCJ9fQ"
          isRequest={true}
        />
        <Published
          authors={[
            "Nations, J.A.",
            "Mursyid, A.",
            "Darma Busta, R.",
            "Adrian, S.P.",
            "Handika, H.",
            "Apandi",
            "Achmadi, A.S.",
            "Esselstyn, J.A",
          ]}
          year={2021}
          title="The first report of albinism in a Sundaland endemic rodent"
          journal="Mammalia"
          pageVol="85(2), pp.168-172"
          doi="https://doi.org/10.1515/mammalia-2020-0047"
          pdfUrl="https://www.researchgate.net/publication/346783646_The_first_report_of_albinism_in_a_Sundaland_endemic_rodent?_tp=eyJjb250ZXh0Ijp7ImZpcnN0UGFnZSI6InB1YmxpY2F0aW9uIiwicGFnZSI6InByb2ZpbGUiLCJwcmV2aW91c1BhZ2UiOiJwcm9maWxlIiwicG9zaXRpb24iOiJwYWdlQ29udGVudCJ9fQ"
        />
      </Publication>
      <Publication year="2020">
        <Published
          authors={[
            "Harapan, T.S.",
            "Agung, A.P.",
            "Handika, H.",
            "Novarino, W.",
            "Tjong, D.H.",
            "Tomlinson, K.W",
          ]}
          year={2020}
          title="New records and potential geographic distribution of Elongated Caecilian, Ichthyophis elongatus Taylor, 1965 (Amphibia, Gymnophiona, Ichthyophiidae), endemic to West Sumatra, Indonesia"
          journal="Check List, "
          pageVol="16(6), pp. 1695-1701"
          doi="https://doi.org/10.15560/16.6.1695"
          pdfUrl="https://www.researchgate.net/publication/347398819_New_records_and_potential_geographic_distribution_of_Elongated_Caecilian_Ichthyophis_elongatus_Taylor_1965_Amphibia_Gymnophiona_Ichthyophiidae_endemic_to_West_Sumatra_Indonesia#fullTextFileContent"
        />
        <Published
          authors={[
            "Winterhoff, M.L.",
            "Achmadi, A.S.",
            "Roycroft, E.J.",
            "Handika, H.",
            "Putra, R.T.J.",
            "Rowe, K.M.C.",
            "Perkins, S.",
            "Rowe, K.C",
          ]}
          year={2020}
          title="Native and introduced trypanosome parasites in endemic and introduced murine rodents of Sulawesi"
          journal="Journal of Parasitology"
          pageVol="106(5), pp.523-536"
          doi="https://doi.org/10.1645/19-136"
          pdfUrl="https://bioone.org/journalArticle/Download?urlId=10.1645%2F19-136"
        />
      </Publication>
      <Publication year="2019 and earlier">
        <Published
          authors={[
            "Esselstyn, J.A.",
            "Achmadi, A.S.",
            "Handika, H.",
            "Giarla, T.C.",
            "Rowe, K.C",
          ]}
          year={2019}
          title="A new climbing shrew from Sulawesi highlights the tangled taxonomy of an endemic radiation"
          journal="Journal of Mammalogy"
          pageVol="100(6), pp.1713-1725"
          doi="https://doi.org/10.1093/jmammal/gyz077"
          pdfUrl="https://esselstyn.github.io/publications/2019/Esselstyn-2019.pdf"
        />
        <Published
          authors={[
            "Janra, M.N.",
            "Noske, R.A.",
            "Chornelia, A.",
            "Handika, H.",
            "Mursyid, A.",
            "Agung, A.",
            "Saputra, A",
          ]}
          year={2018}
          title="A second breeding record of Chestnut-naped Forktails Enicurus ruficapillus in Sumatra, and observations suggesting females alone incubate"
          journal="Kukila"
          pageVol="21, pp.13-16"
          altUrl="https://kukila.org/index.php/KKL/article/view/533"
          pdfUrl="https://kukila.org/index.php/KKL/article/view/533/504"
        />
        <Published
          authors={[
            "Demos, T.C.",
            "Achmadi, A.S.",
            "Handika, H.",
            "Rowe, K.C.",
            "Esselstyn, J.A",
          ]}
          year={2017}
          title="A new species of shrew (Soricomorpha: Crocidura) from Java, Indonesia: possible character displacement despite interspecific gene flow"
          journal="Journal of Mammalogy"
          pageVol="98(1), pp.183-193"
          doi="https://doi.org/10.1093/jmammal/gyw183"
          pdfUrl="https://esselstyn.github.io/publications/2017/Demos-2017.pdf"
        />
        <Published
          authors={[
            "Demos, T.C.",
            "Achmadi, A.S.",
            "Giarla, T.C.",
            "Handika, H.",
            "Rowe, K.C.",
            "Esselstyn, J.A",
          ]}
          year={2016}
          title="Local endemism and within‐island diversification of shrews illustrate the importance of speciation in building Sundaland mammal diversity"
          journal="Molecular ecology"
          pageVol="25(20), pp.5158-5173"
          doi="https://doi.org/10.1111/mec.13820"
          pdfUrl="https://esselstyn.github.io/publications/2016/Demos-2016.pdf"
        />
        <Published
          authors={[
            "Esselstyn, J.A.",
            "Achmadi, A.S.",
            "Handika, H.",
            "Rowe, K.C",
          ]}
          year={2015}
          title="A hog-nosed shrew rat (Rodentia: Muridae) from Sulawesi Island, Indonesia"
          journal="Journal of Mammalogy"
          pageVol="96(5), pp.895-907"
          doi="https://doi.org/10.1093/jmammal/gyv093"
          pdfUrl="https://esselstyn.github.io/publications/2015/Esselstyn-2015.pdf"
        />
        <Published
          authors={["Handika, H.", "Nurdin, J.", "Rizaldi"]}
          year={2013}
          title="Small Terrestrial Mammals Community on Mount Singgalang, West Sumatra"
          journal="Jurnal Biologi Universitas Andalas"
          pageVol="2(2), pp.103-109"
          doi="https://doi.org/10.25077/jbioua.2.2.%25p.2013"
          pdfUrl="https://www.researchgate.net/publication/280605376_Komunitas_Mamalia_Kecil_Terestrial_di_Gunung_Singgalang_Sumatera_Barat"
        />
      </Publication>
      <Publication year="Manuscript in prep">
        <Forthcoming
          authors={[
            "Handika, H.",
            "Moncrieff, A. E.",
            "Del-Rio G.",
            "Canton, R.",
            "Rutledge, S. L.",
            "Hernández-Canchola, G.",
            "Babb-Biernacki, S. J.",
            "Chipps, A. S.",
            "Pérez-Amaya, N.",
            "Chornelia, A.",
            "Morales-Martínez, D. M.",
            "McCallum, Q.",
            "Thom, G.",
            "Esselstyn, J. A",
          ]}
          year="In prep"
          title="NAHPU: A field cataloging application for efficient, repeatable, and inclusive collection-based evolutionary studies"
          journal=""
        />
        <Forthcoming
          authors={[
            "Handika, H.",
            "Rowe, K.C.",
            "Achmadi, A.S.",
            "Swanson, M. T.",
            "Esselstyn, J.A",
          ]}
          year="In prep"
          title="A new species of Frateromys from the Northern Peninsula of Sulawesi, Indonesia"
          journal=""
        />
      </Publication>
    </div>
  </main>
</Layout>
