---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
import codingIcon from "../assets/icons/coding.svg";
import Background from "../components/Background.astro";
import MainPage from "../components/MainPage.astro";
import PageDescription from "../components/PageDescription.astro";
import PageSubtitle from "../components/PageSubtitle.astro";
import SoftwareLayout from "../layouts/SoftwareLayout.astro";
import SoftwareCard from "../components/SoftwareCard.astro";
import cntl from "cntl";

const cardDescriptonClasses = cntl`
  mt-2
  text-porsche-950
  text-md
`;
---

<Layout title="Software">
  <MainPage>
    <Background backgroundImage={codingIcon} />
    <PageTitle title="Software Development">
      <PageDescription>
        High-quality software is essential for reproducibility, advancing
        science, and fostering inclusivity within the scientific community. My
        software projects focus on improving data collection, management, and
        integration in field-based evolutionary studies and minimizing the
        technical complexities of genomic analysis. I put ease of use at the
        center of the software design process. The GUI software incorporates
        accessibility features. I work toward crafting informative error
        handling and quality documentation, and I am always open to feedback and
        collaboration. I ensure cross-platform compatibility whenever feasible,
        including support for Windows and mobile operating systems.
      </PageDescription>
    </PageTitle>
    <PageSubtitle subtitle="Software Projects" />
    <SoftwareLayout>
      <SoftwareCard
        title="SEGUL"
        subtitle="A cross-platform phylogenomic tool"
        platform={[
          "Desktop GUI",
          "Mobile app",
          "Command-line app",
          "Python package",
          "Rust crate",
        ]}
        repo="https://github.com/hhandika/segul"
        docs="https://www.segul.app/"
        install="https://www.segul.app/docs/installation/overview"
      >
        <p class={cardDescriptonClasses}>
          We develop SEGUL (SEquence and Genomic UtiLities) to address the need
          for a high-performance and accessible phylogenomic tool. It is
          designed to handle large-scale phylogenomic datasets involving
          thousands of loci and hundreds of samples. Additionally, SEGUL is
          capable of handling small Sanger sequences effectively. It scales from
          smartphones, tablets, and personal computers to high-performance
          computing clusters. SEGUL is a practical solution to typical
          phylogenomic data analyses and a proof of concept for scalable,
          cross-platform genomic software.
        </p>
      </SoftwareCard>
    </SoftwareLayout>
    <div class="mt-4">
      <SoftwareLayout>
        <SoftwareCard
          title="NAHPU"
          subtitle="A cross-platform field catalog for natural history collections"
          platform={["Mobile app", "Desktop app"]}
          repo="https://github.com/hhandika/nahpu"
          docs="https://www.nahpu.app/"
          install="https://www.nahpu.app/docs/installation"
        >
          <p class={cardDescriptonClasses}>
            The NAHPU field catalog is a mobile and desktop application designed
            to streamline data collection in the field, foster international
            collaboration, and support responsible and reproducible
            collection-based evolutionary studies. I develop the app in
            collaboration with field biologists from institutions in the United
            States, Mexico, Hong Kong, and Indonesia. It is optimized for
            offline use and low-end devices. The app is in beta and has been
            tested by several field teams for fieldwork in Indonesia, Brazil,
            Colombia, Mexico, and the United States. It supports data collection
            for ornithology and mammalogy, with plans to extend support to other
            taxa.
          </p>
        </SoftwareCard>
      </SoftwareLayout>
    </div>
    <div class="mt-4">
      <SoftwareLayout>
        <SoftwareCard
          title="ULLAR"
          subtitle="An Ultrafast, scaLable, Accessible, and Reproducible pipeline for phylogenomics"
          platform={["Command-line app", "Python package"]}
          repo="https://github.com/hhandika/ullar"
          docs="https://github.com/hhandika/ullar"
          install="https://github.com/hhandika/ullar"
        >
          <p class={cardDescriptonClasses}>
            ULLAR is currently in the beta development stage. It aims to create
            a lightweight and scalable pipeline for phylogenomic studies. It
            requires minimal learning and omits manual config generation and
            unnecessary shell scripting. It also aims to reduce runtime
            dependencies, minimize RAM usage, and provide optimal performance
            with minimal user effort. In addition to Linux and macOS, which are
            typically supported operating systems for bioinformatics, ULLAR will
            also run natively on Windows for part of the pipeline, allowing
            users to have more efficient access to hardware than using the
            Windows Subsystem for Linux.
          </p>
        </SoftwareCard>
      </SoftwareLayout>
      <div class="mt-4">
        <SoftwareLayout>
          <SoftwareCard
            title="MDD app"
            subtitle="A mobile and desktop app for the ASM's Mammal Diversity Database"
            platform={["Mobile app", "Desktop app"]}
            repo="https://github.com/mammaldiversity/mdd_app"
            docs="https://github.com/mammaldiversity/mdd_app"
            install="https://github.com/mammaldiversity/mdd_app"
          >
            <p class={cardDescriptonClasses}>
              The Mammal Diversity Database (MDD) app is a mobile application
              that I developed in collaboration with the MDD team. It allows
              offline access, advanced search, and user-selected export
              functions for the American Society of Mammalogists' Mammal
              Diversity Database.
            </p>
          </SoftwareCard>
        </SoftwareLayout>
      </div>
    </div>
  </MainPage>
</Layout>
