---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
import codingIcon from "../assets/icons/coding.svg";
import Background from "../components/Background.astro";
import MainPage from "../components/MainPage.astro";
import PageDescription from "../components/PageDescription.astro";
import PageSubtitle from "../components/PageSubtitle.astro";
import CardLayout from "../layouts/CardLayout.astro";
import Card from "../components/Card.astro";
import cntl from "cntl";

const cardDescriptonClasses = cntl`
  mt-2
  text-porsche-950
  text-md
`;
---

<Layout title="Software">
  <MainPage>
    <Background backgroundImage={codingIcon} />
    <PageTitle title="Software Development">
      <PageDescription>
        I believe high-quality software is essential not only for
        reproducibility and advancing science but also for fostering inclusivity
        within the scientific community. I primarily develop tools to improve
        data collection, management, and integration in field-based evolutionary
        studies, as well as to minimize the technical complexities of genomic
        analysis. All of my software is developed with a focus on accessibility
        and ease of use, and comes with beginner-friendly documentation.
        Whenever possible, I ensure cross-platform compatibility, including
        support for Windows and mobile operating systems, which are often
        overlooked in evolutionary studies.
      </PageDescription>
    </PageTitle>
    <PageSubtitle subtitle="Software Projects" />
    <CardLayout>
      <Card title="SEGUL" subtitle="A cross-platform phylogenomic tool">
        <p class={cardDescriptonClasses}>
          We develop SEGUL (SEquence and Genomic UtiLities) to address the need
          for a high-performance and accessible phylogenomic tool. It is
          particularly well-suited for large-scale phylogenomic projects,
          especially those involving thousands of loci and hundreds of samples.
          Additionally, SEGUL is capable of handling small Sanger sequences
          effectively. SEGUL is a practical solution to typical phylogenomic
          data analyses and a proof of concept for genomic software that scales
          from smartphones, tablets, and personal computers to high-performance
          computing clusters.
        </p>
      </Card>
    </CardLayout>
    <div class="mt-4">
      <CardLayout>
        <Card
          title="NAHPU"
          subtitle="A cross-platform field catalog for natural history collections"
        >
          <p class={cardDescriptonClasses}>
            The NAHPU field catalog is a mobile and desktop application designed
            to streamline data collection in the field, foster international
            collaboration, and support responsible and reproducible
            collection-based evolutionary studies. I develop the app in
            collaboration with field biologists from institutions in the United
            States, Mexico, Hong Kong, and Indonesia. It is optimized for
            offline use and low-end devices. The app is currently in beta and
            has been tested by several field teams for fieldwork in Indonesia,
            Brazil, Colombia, Mexico, and the United States. It supports data
            collection for ornithology and mammalogy, with plans to extend
            support to other taxa.
          </p>
        </Card>
      </CardLayout>
    </div>
    <div class="mt-4">
      <CardLayout>
        <Card
          title="ULLAR"
          subtitle="An Ultrafast, scaLable, Accessible, and Reproducible pipeline for phylogenomics"
        >
          <p class={cardDescriptonClasses}>
            ULLAR is currently in its early development stage. The goal of ULLAR
            is to create a lightweight and scalable pipeline that requires
            minimal learning. It aims to reduce runtime dependencies, minimize
            RAM usage, and provide optimal performance with minimal effort from
            users. In addition to Linux and macOS, which are typically supported
            operating systems for bioinformatics, ULLAR will also run natively
            on Windows whenever possible.
          </p>
        </Card>
      </CardLayout>
      <div class="mt-4">
        <CardLayout>
          <Card
            title="MDD app"
            subtitle="A mobile app for the ASM's Mammal Diversity Database"
          >
            <p class={cardDescriptonClasses}>
              The Mammal Diversity Database (MDD) app is a mobile application
              that I developed in collaboration with the MDD team. It allows
              offline access, advanced search, and user-selected export
              functions for the American Society of Mammalogists' Mammal
              Diversity Database.
            </p>
          </Card>
        </CardLayout>
      </div>
    </div>
  </MainPage>
</Layout>
