---
import cntl from "cntl";
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
import teachingIcon from "../assets/icons/teaching.svg";
import Background from "../components/Background.astro";
import PageSubtitle from "../components/PageSubtitle.astro";
import MainPage from "../components/MainPage.astro";

const cardClasses = cntl`
  bg-porsche-200
  rounded-2xl
  px-6
  py-4
`;

const cardTitleClasses = cntl`
  font-serif
  font-bold
  text-porsche-950
  dark:text-porsche-50
  text-xl
  mt-8
`;

const cardSubtitleClasses = cntl`
  font-semibold
  text-porsche-950
  text-lg
`;

const courseScheduleClasses = cntl`
  font-serif
  text-lg
  text-porsche-800
`;

const organizerClasses = cntl`
  text-sm
  text-porsche-800
`;

const cardDescriptonClasses = cntl`
  mt-2
  text-porsche-950
  text-md
`;
---

<Layout title="Teaching">
  <MainPage>
    <Background backgroundImage={teachingIcon} />
    <PageTitle title="Teaching, Workshops, & Mentoring">
      <p class="dark:text-slate-400 text-slate-500">
        I have had the privilege of teaching various courses, from the
        fundamentals of biology and genetics to the fascinating world of
        mammalogy and the innovative use of computer applications in biology.
        Additionally, I have led workshops and provided mentorship to students
        both in Indonesia and the United States.
      </p>
    </PageTitle>
    <PageSubtitle subtitle="Courses Taught" />
    <h3 class={cardTitleClasses}>Lousiana State University, USA</h3>
    <div class={cardClasses}>
      <div class="mb-4">
        <p class={cardSubtitleClasses}>BIOL 2153 Principles of Genetics</p>
        <p class={courseScheduleClasses}>
          Teaching assistant &middot; Fall 2024
        </p>
        <p class={cardDescriptonClasses}>
          This course covers several topics, including Mendelian inheritance,
          gene mapping, population genetics, and genomics. I taught recitation
          sections and assisted with homework, exam preparation, and grading. My
          class size is around 60 students divided into two sections.
        </p>
      </div>
      <div class="mb-4">
        <p class={cardSubtitleClasses}>BIOL 4141 Mammalogy</p>
        <p class={courseScheduleClasses}>
          Teaching assistant &middot; Fall 2021
        </p>
        <p class={cardDescriptonClasses}>
          This course covers the evolution and systematics of mammals. I taught
          lab section using specimens from the museum collection. My class size
          was 16 students.
        </p>
      </div>
      <div>
        <p class={cardSubtitleClasses}>BIOL1209 Introduction to Biology</p>
        <p class={courseScheduleClasses}>
          Teaching assistant &middot; Spring 2021
        </p>
        <p class={cardDescriptonClasses}>
          This course is an introduction to the principles of biology that
          covers topics on ecology, evolution, and diversity. I taught lab
          section and assisted with grading. My class size was 60 students.
        </p>
      </div>
    </div>
    <h3 class={cardTitleClasses}>Andalas University, Indonesia</h3>
    <div class={cardClasses}>
      <div>
        <p class={cardSubtitleClasses}>
          PAB125 Computer Application for Biology
        </p>
        <p class={courseScheduleClasses}>
          Instructor &middot; 2<span class="align-super text-sm">nd</span>
          semester 2012
        </p>
        <p class={cardDescriptonClasses}>
          This course introduces students to computer applications in biology
          that covers topics on basic computational statistics, geographic
          information system (GIS), and scientific photography. I developed the
          syllabus, taught lectures, and graded assignments. My class size was
          70 students.
        </p>
      </div>
    </div>
    <PageSubtitle subtitle="Workshops Taught" />
    <div class={cardClasses}>
      <div class="mb-4">
        <p class={cardSubtitleClasses}>
          Molecular Analyses of Indonesian Mammals
        </p>
        <p class={courseScheduleClasses}>
          Instructor &middot; 18, 19, 25, and 26 May 2024
        </p>
        <p class={organizerClasses}>Organized by Generasi Biologi Indonesia</p>
        <p class={cardDescriptonClasses}>
          This workshop covers an introduction to mammalian phylogenetics,
          multi-locus DNA sequencing analyses, and genomic analyses using
          current methods and software. The workshop was tailored with data from
          Indonesian mammals, but the methodologies are applicable to studies
          utilizing both Sanger and short-read sequencing data.
        </p>
      </div>
      <div class="mb-4">
        <p class={cardSubtitleClasses}>
          Coding for Conservation: Integrating GitHub to Your Workflow
        </p>
        <p class={courseScheduleClasses}>Instructor &middot; 8-9 April 2023</p>
        <p class={organizerClasses}>
          Organized by Tambora Muda, RLadies Jakarta, and RLadies Bogor
        </p>
        <p class={cardDescriptonClasses}>
          This workshop was designed to introduce students to version control
          and collaborative coding using GitHub. I taught the basics of Git and
          GitHub, including creating a repository, staging, making commits, and
          creating pull requests. I also introduced students to advanced
          approach to R dependency management and writing cross-platform code.
        </p>
      </div>
      <div>
        <p class={cardSubtitleClasses}>Introduction to Phylogenetics</p>
        <p class={courseScheduleClasses}>Instructor &middot; 15 January 2020</p>
        <p class={organizerClasses}>
          Organized by Graduate Student Association at Andalas University,
          Indonesia
        </p>
        <p class={cardDescriptonClasses}>
          This workshop covers the fundamental concepts of phylogenetics,
          including phylogenetic tree construction and interpretation. It also
          introduces students to multi-locus DNA sequencing analyses using
          IQ-TREE.
        </p>
      </div>
    </div>
    <PageSubtitle subtitle="Mantees" />
    <p>Coming soon...</p>
  </MainPage>
</Layout>
