---
interface JournalArticle {
  author: string;
  year: string;
  title: string;
  journal: string;
  pageVol: string;
  doi: string;
}

const { author, year, title, journal, pageVol, doi } = Astro.props;
---

<div class="my-2">
  <p class="text-chetwode-950 dark:text-chetwode-50">
    {
      author
        .split("Handika, H.")
        .map((part: string, index: number, array: string[]) => (
          <>
            {part}
            {index < array.length - 1 && (
              <strong class="text-chetwode-700 dark:text-chetwode-400">
                Handika, H.
              </strong>
            )}
          </>
        ))
    }. {year}. {title}. <em>{journal}</em>, {pageVol}.
    <a href={doi} target="_blank">{doi}</a>
  </p>
</div>
